:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

footer {
  margin-top: 8rem;
  padding: 3rem 0;
  text-align: center;
  background: var(--color-primary);
  font-size: 0.9rem;
  color: var(--color-white); /* Ensures all text is readable */
}

footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: var(--transition);
}

footer a:hover {
  color: var(--color-bg); /* Subtle hover effect */
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  justify-content: center;
  margin: 0 auto 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer_socials {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.footer_socials a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  font-size: 1rem;
  transition: var(--transition);
}

.footer_socials a:hover {
  background: var(--color-bg-variant);
  border-color: var(--color-white);
  color: var(--color-white);
  transform: translateY(-0.3rem);
}

.footer_copyright {
  margin-bottom: 2rem;
  color: var(--color-white);
  font-size: 1rem;
}

@media screen and (max-width: 400px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
}
