:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.portfolio_container article {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_container article:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.portfolio_image {
  border-radius: 1.6rem;
  overflow: hidden;
  height: 8rem;
}

.portfolio_container h3 {
  margin: 1.2rem 0 1.8rem 0;
}

.portfolio_link {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    width: 80%;
    margin-inline: auto;
  }
}
